# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Archivos de logs
*.log

# Archivos de entorno
.env
.env.*

# Configuración Streamlit
.streamlit/secrets.toml

# Cache Streamlit
.streamlit/cache/

# Jupyter
.ipynb_checkpoints

# Archivos del sistema
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
.coverage
htmlcov/